body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('../imgs/backgroundseph.gif') no-repeat;
    background-color: rgba(255,255,255,0.3);
    background-size: cover;
    background-position:center;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.3);
}
/*center thead logo also used form random things that need centering*/
.logoo {
    text-align: center;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}

/*store stuff*/
.store-img {
    padding-top: 20px;
    padding-bottom: 10px;
    max-height: 80%;
    max-width: 80%;
}
.store-item-descr {
    text-align: center;
}
