{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 store-item-descr">
            <div>
                <h1>Comming Soon!</h1>
            </div>
            <button class="btn-small btn-success">Add to Cart</button>
        </div>
        <div class="col-md-6 store-item-descr">
            <div>
                <img class="store-img" src="../static/imgs/naItem.png" />
            </div>
        </div>
    </div>
</div>
{% endblock %}